package templates

templ NotFoundPage() {
    @DefaultPage("404 | Not Found") {
        @banner(true) {}

        <div class="mx-auto w-full py-12 px-3 max-w-prose text-center">
            <h1 class="font-black text-9xl">404</h1>
        </div>

    }
}